<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find hsr_navigation)/map/robocup_training_1_edited.yaml" />
  
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find hsr_navigation)/map/robocup_arena_bar_extra_walls2.yaml" /-->
  
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find hsr_navigation)/map/robocup_arena_living_room.yaml" /-->

 

  
  <node name="tf_buffer" pkg="tf2_ros" type="buffer_server" /> 
</launch>
